*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%); 
}

.center{
    width: 400px;
    height: 380px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    display: flex;

}

.profile{
    float: left;
    width: 250px;
    height: 100%;
    text-align: center;
}

.image{
    position: relative;
    width:70px;
    height: 70px;
    margin: 60px auto 0 auto;
}

img{
    border-radius: 50%;
    display: block;
    background-color: #F5E8DF;
}

.circle1{
    position: absolute;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #786450 #786450 #786450 transparent;
    transition: all 1.5s ease-in-out;
}

.circle2{
    position: absolute;
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #786450 transparent #786450 #786450;
    transition: all 1.5s ease-in-out;
}

.image:hover .circle1 {
    cursor: pointer;
    transform: rotate(360deg);
}

.image:hover .circle2{
    cursor: pointer;
    transform: rotate(-360deg);
}

.name{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    font-family: sans-serif;
    color: #786450;
}

.job{
    font-size: 15px;
	line-height: 30px;
    color: #786450;
}

.actions{
    margin-top: 33px;
}

.btn{
    display: block;
	width: 120px;
    height: 30px;
    margin: 0 auto 10px auto;
    background: none;
    border: 2px solid #786450;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    color: #786450;
}

.btn:hover{
    background-color: #786450;
    color: #fff;
}

.stats{
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
}

.box{
    box-sizing: border-box;
    width: 150px;
    flex-basis: auto;
    flex-grow: 1;
    background: #F5E8DF;
    text-align: center;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box > *{
    display: block;
}

.box:hover {
    background: #E1CFC2;
    cursor: pointer;
}

.box:nth-child(2){
    margin: 3px 0;
}

.value {
    font-size: 20px;
    font-weight: 600;
    color: #786450;
}

.parameter {
    font-size: 15px;
    color: #786450;
}

@media(max-width:400px){
    .center{
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .box{
        width: 100%;
        height: 100px;
    }
}